.skills {
  text-align: left;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 48%; /* Each skill takes up 48% of the row, with 2% gap */
  margin: 10px 0;
}

