.project-detail {
  position: relative;
  padding-top: 3rem; /* Space for the return button */
  padding-bottom: 3rem; /* Space for bottom padding */
  min-height: 100vh; /* Ensure full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.return-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid transparent;
  z-index: 1000;
  display: flex;
  align-items: center;
  transition: border-color 0.3s ease-in-out;
}

.return-button:hover {
  border-color: black;
}